<include file="Public/header" />
<script>
     var gold="{:U('Ask/load')}";
</script>
<script>
    $(function(){
        $('#more').click(function(){
            var start=$('input[name="page"]').val();
            $.ajax({
                type: 'post',
                url: "__APP__/Home/Index/question",
                data: {
                    start: $('input[name="page"]').val()
                },
                dataType:'json',
                success: function (data) {
                    if(data!=0){
                        var str='';
                        for(var i=0;i<data.length;i++){
                            str=str+= "<dd>";
                            str=str+"<a id='"+data[i].id+"'>"+data[i].content+"</a>"+"<span>"+data[i].answer+"回答"+"</span>"+"</br>";
                            str=str+"</dd>";
                        }

                        $('#cate').append(str);
                        $('input[name="page"]').val(parseInt(start)+5);
                    }
                }


                })
            })
    })
</script>
<body>

	<div class="" id="top-fixed">
	<div id="top-bar">
		<ul class="top-bar-left fl">
			<li><a href="{:U('Category/category')}" target="_blank">后盾网</a></li>
			<li><a href="http://bbs.houdunwang.com/" target="_blank">后盾论坛</a></li>
			<li><a href="http://study.houdunwang.com/" target="_blank">后盾学习社区</a></li>
		</ul>
        <if condition="isset($_SESSION['user'])">
            <ul class="top-bar-right fr">
                <li>欢迎<span style="color:red">{$Think.session.user}</span>登录</li>
                <li style="color:#eaeaf1">|</li>
                <li><a href="{:U('Index/login_out')}">退出</a></li>
            </ul>
            <else/>
            <ul class="top-bar-right fr">
                <li><a href="" class="login">登录</a></li>
                <li style="color:#eaeaf1">|</li>
                <li><a href="" class="register">注册</a></li>
            </ul>
        </if>
    </div>
        <div id="search">
		<div class="logo"></div>
		<form action="" method="">
			<input name="" class="sech-cons" type="text">
			<input class="sech-btn" type="submit">
		</form>
		<a href="{:U('Ask/index')}" class="ask-btn"></a>
    </div>
</div>
<div style="height:110px"></div>
<!----------导航条---------->
<div id="nav">
	<ul class="list">
        <php>
           $arr= M('Category')->where("p_id=0")->select();
        </php>
		<li class="nav-sel"><a href="http://172.37.11.126/wenda/index.php" class="home">问答首页</a></li>
		<li class="nav-sel ask-cate">
			<a href="" class="ask-list"><span>问题分类</span><i></i></a>
			<ul class="hidden">
                <volist name="arr" id="val">
                    <li><a href="{:U('Category/show',array('id'=>$val['id']))}">{$val.c_name}</a></li>
                </volist>
            </ul>
		</li>
	</ul>
	<p class="total">累计提问：10240000</p>
</div>

<script type="text/javascript" src="__PUBLIC__/Home/js/validate.js"></script>
	<script type="text/javascript">
		var CONTROL = "/wenda/index.php/Common/";
	</script>
	<!----------注册框---------->
	<div id="register" class="hidden">
		<div class="reg-title">
			<p>欢迎注册后盾问答</p>
			<a href="" title="关闭" class="close-window"></a>
		</div>
		<div id="reg-wrap">
			<div class="reg-left">
				<ul>
					<li><span>账号注册</span></li>
				</ul>
				<div class="reg-l-bottom">
					已有账号，<a href="" id="login-now">马上登录</a>
				</div>
			</div>
			<div class="reg-right">
				<form action="{:U('HDUser/add')}" method="post" name="register">
					<ul>
						<li>
							<label for="reg-account">账号</label>
							<input name="number" id="reg-account" type="text">
							<span>7-20个字符：以字母开头的字母、数字或下划线 _</span>
						</li>
						<li>
							<label for="reg-uname">用户名</label>
							<input name="user" id="reg-uname" type="text">
							<span>2-14个字符：字母、数字或中文</span>
						</li>
						<li>
							<label for="reg-pwd">密码</label>
							<input name="pwd1" id="reg-pwd" type="password">
							<span>6-20个字符:字母、数字或下划线 _</span>
						</li>
						<li>
							<label for="reg-pwded">确认密码</label>
							<input name="pwd2" id="reg-pwded" type="password">
							<span>请再次输入密码</span>
						</li>
						<li>
							<label for="reg-verify">验证码</label>
                            <input class="len250" name="code" type="code" style="width:100px;"> <img src="__URL__/verify" id="code" style="width: 100px;"> <a href="javascript:void(0);" id="codes">看不清</a>
                            <span>请输入图中的字母或数字，不区分大小写</span>
                        </li>
						<li class="submit">
							<input value="立即注册" type="submit">
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>

	<!----------登录框---------->	
	<div id="login" class="hidden">
		<div class="login-title">
			<p>欢迎您登录后盾网</p>
			<a href="" title="关闭" class="close-window"></a>
		</div>
		<div class="login-form">
			<span id="login-msg"></span>
			<form action="{:U('Common/login_check')}" method="post" name="login">
				<ul>
					<li>
						<label for="login-acc">账号</label>
						<input name="number" class="input" id="login-acc" type="text">
					</li>
					<li>
						<label for="login-pwd">密码</label>
						<input name="pwd1" class="input" id="login-pwd" type="password">
					</li>
					<li class="login-auto">
						<label for="auto-login">
							<input checked="checked" name="auto" id="auto-login" type="checkbox">&nbsp;下一次自动登录
						</label>
						<a href="" id="regis-now">注册新账号</a>
					</li>
					<li>
						<input value="" id="login-btn" type="submit">
					</li>
				</ul>
			</form>
		</div>
	</div>
<!--背景遮罩--><div id="background" class="hidden"></div>

<!--------------------内容主体-------------------->
	<div class="main">
        <div id='left'>
            <p class='left-title'>所有问题分类</p>
            <ul class='left-list'>
                <volist name="cate" id="val">
                    <li class='list-l1'>
                        <div class='list-l1-wrap'>
                            <h4><a href="{:U('Category/show',array('id'=>$val['id']))}">{$val.c_name}</a></h4>
                            <ul class='list-l2'>
                                <for start="0" end='3' name="i">
                                    <li><a href="{:U('Category/show',array('id'=>$val['child'][$i]['id']))}">{$val['child'][$i]['c_name']}</a></li>
                                </for>
                            </ul>
                        </div>

                        <div class='list-more hidden'>
                            <ul>
                                <for start="3" end='count($val["child"])' name="i">
                                    <li><a href="{:U('Category/show',array('id'=>$v['child'][$i]['id']))}">{$val['child'][$i]['c_name']}</a></li>
                                </for>
                            </ul>
                        </div>
                    </li>
                </volist>
            </ul>
        </div>
        <div id="center">
			<div id="animate">
				<div class="imgs-wrap">
					<ul>
						<li>
							<a href=""><img src="__PUBLIC__/Home/images/animate1.png" height="190" width="558"></a>
						</li>
						<li style="opacity: 0;">
							<a href=""><img src="__PUBLIC__/Home/images/animate2.png" height="190" width="558"></a>
						</li>
						<li style="opacity: 0;">
							<a href=""><img src="__PUBLIC__/Home/images/animate3.png" height="190" width="558"></a>
						</li>
					</ul>
				</div>
				<ul class="ani-btn">
					<li class="ani-btn-cur">后盾网<i></i></li>
					<li>后盾网论坛<i></i></li>
					<li style="border:none">后盾网学习社区<i></i></li>
				</ul>
			</div>
<php>
    $arrr=M('hd_ask')->limit(5)->where("solve=0")->select();
</php>
			<dl class="answer-list" id="cate">
				<dt>
					<span class="wait-as">待解决问题</span>
                </dt>

                <volist name="arrr" id="val">
					<dd>

                        <a href="javascript:void(0)">{$val.content}</a>
                        <span>0回答</span>
					</dd>
                </volist>
                <input type="hidden" name="page"value="5"/>
            </dl>
            <a href="javascript:;" id="more">加载更多&gt;&gt;</a>
            <a href="{:U('Index/index')}">收起&gt;&gt;</a>


			<dl class="answer-list">
				<dt>
					<span class="reward-as">高分悬赏问题</span>
					<a href="">更多&gt;&gt;</a>
				</dt>
                <dd>
                    <a href="javascript:void(0)" id="page2">加载更多</a>
                </dd>

            </dl>

		</div>
        <div id="right">
            <if condition="$Think.session.user eq null">
                <div class="r-login">
                    <span class="login"><i></i>&nbsp;登录</span>
                    <span class="register"><i></i>&nbsp;注册</span>
                </div>
                <else />
                <div class="userinfo">
                    <dl>
                        <php>
                            $id=session('id');
                            $res=D('hd_user')->where("id='$id'")->find();
                        </php>
                        <dt>
                            <a href="{:U('User/self')}"><img src="__PUBLIC__/Home/Images/noface.gif" height="48" width="48"></a>
                        </dt>
                        <dd class='username'>
                            <a href="{:U('User/self')}"><b>{$Think.session.user}</b>
                                <i class="level lv{$res.suffer}" title='Level {$res.adopt}'></i>
                            </a>
                        </dd>
                        <dd>金币：<a href="{:U('User/gold')}" style="color: #888888;"><b class='point'>
                            {$res.point}
                        </b></a></dd>
                        <dd>经验值：{$res.exp}</dd>
                    </dl>
                    <table>
                        <tbody><tr>
                            <td>回答数</td>
                            <td>采纳率</td>
                            <td class="last">提问数</td>
                        </tr>
                        <tr>
                            <td><a href="">{$res.answer}</a></td>
                            <td><a href="">0%</a></td>
                            <td class="last"><a href="">{$res.ask}</a></td>
                        </tr>
                        </tbody></table>
                </div>
            </if>
            <div class="clear"></div>
	<div class="star">
		<p class="title">后盾问答之星</p>
		<span class="star-name">本日回答问题最多的人</span>
					<div class="star-info">
				<div>
					<a href="http://172.37.11.126/wenda/index.php/Member/index/" class="star-face"><img src="__PUBLIC__/Home/images/noface.gif" height="48px" width="48px"></a>
					<ul>
						<li><a href="http://172.37.11.126/wenda/index.php/Member/index/"></a></li>
						<li><i class="level lv1" title="Level 1"></i></li>
					</ul>
				</div>
				<ul class="star-count">
					<li>回答数：<span></span></li>
					<li>采纳率：<span>0%</span></li>
				</ul>
			</div>
		<span class="star-name">历史回答问题最多的人</span>
				<div class="star-info">
			<div>
				<a href="http://172.37.11.126/wenda/index.php/Member/index/" class="star-face"><img src="__PUBLIC__/Home/images/noface.gif" height="48px" width="48px"></a>
				<ul>
					<li><a href="http://172.37.11.126/wenda/index.php/Member/index/"></a></li>
					<li><i class="level lv1" title="Level 1"></i></li>
				</ul>
			</div>
			<ul class="star-count">
				<li>回答数：<span></span></li>
				<li>采纳率：<span>0%</span></li>
			</ul>
		</div>
	</div>


		<div class="star-list">
		<p class="title">后盾问答助人光荣榜</p>
		<div>
			<ul class="ul-title">
				<li>用户名</li>
				<li style="text-align:right;">帮助过的人数</li>
			</ul>
			<ul class="ul-list">
				<li>
						<a href="http://172.37.11.126/wenda/index.php/Member/index/id/1"><i class="rank r1"></i>后盾网</a>
						<span>3</span>
					</li><li>
						<a href="http://172.37.11.126/wenda/index.php/Member/index/id/2"><i class="rank r2"></i>后盾论坛</a>
						<span>1</span>
					</li><li>
						<a href="http://172.37.11.126/wenda/index.php/Member/index/id/3"><i class="rank r3"></i>后盾视频</a>
						<span>1</span>
					</li><li>
						<a href="http://172.37.11.126/wenda/index.php/Member/index/id/4"><i class="rank r4"></i>后盾学习社区</a>
						<span>0</span>
					</li>			</ul>
		</div>
	</div>
</div>
	</div>
<!--------------------内容主体结束-------------------->
	<div class="clear"></div>
	<div id="bottom">
		<p>Copyright © 2013 houdunwang.Com All Rights Reserved 后盾网</p>
		<p>京ICP备10027771号-1</p>
	</div>
<!--[if IE 6]>
    <script type="text/javascript" src="/wenda/Public/Js/iepng.js"></script>
    <script type="text/javascript">
    	DD_belatedPNG.fix('.logo','background');
        DD_belatedPNG.fix('.nav-sel a','background');
        DD_belatedPNG.fix('.ask-cate i','background');
    </script>
<![endif]-->

</body></html>