<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后盾问答</title>
    <meta name="keywords" content="问答 后盾问答 - 你问大家答">
    <meta name="description" content="">
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/common.css">
    <script type="text/javascript" src="__PUBLIC__/Home/Js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Js/top-bar.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/member.css">
    <script type="text/javascript" src="__PUBLIC__/Home/Js/member.js"></script>
</head>
<body>
<include file="Public/nav" />

<!--背景遮罩-->
<include file="Public/yonghu" />

    <div id="right">
        <p class="title">TA的提问</p>
        <ul class="ask-filter">
            <li class="cur">待解决问题</li>
            <li>已解决问题</li>
        </ul>
        <php>
            $id=session('id');
                $res=D('hd_user')->where("id='$id'")->find();
            $id=session('id');
            $arr=M('hd_ask')->where("uid='$id'")->select();
        </php>
        <if condition="$res.solve eq 0">
        <div class="list list-filter">
            <table>
                <tbody>
                <volist name="arr" id="val">
                <span>{$val.content}<a href="">[{$val.uid}]</a></span><br>
                </volist>
                </tbody></table>
        </div>
            <else/>
        <div class="list list-filter hidden">
            <table>
                <tbody>
                <volist name="arr" id="val">
                    <span>{$val.content}<a href="">[{$val.cateid}]</a></span><br>
                </volist>
                </tbody></table>
        </div>
        </if>
    </div>
</div>
<!--------------------中部结束-------------------->
<div id="bottom">
    <p>Copyright © 2013 houdunwang.Com All Rights Reserved 后盾网</p>
    <p>京ICP备10027771号-1</p>
</div>
<!--[if IE 6]>
<script type="text/javascript" src="/wenda/Public/Js/iepng.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('.logo','background');
    DD_belatedPNG.fix('.nav-sel a','background');
    DD_belatedPNG.fix('.ask-cate i','background');
</script>
<![endif]-->

</body></html>