<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<form action="<?php echo site_url('Index/upd')?>" method="post">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" name="u_name" value="<?php echo $arr['u_name']?>" /></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="u_pwd" value="<?php echo $arr['u_pwd']?>"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="修改"/></td>
            <td></td>
        </tr>
    </table>
    <input type="hidden" name="id" value="<?php echo $arr['id']?>"/>
</form>
</body>
</html>