<form action="__URL__/note/" method="post">
    <center>
        <h1 style="color: red">留言列表</h1>
    <table border="1">
        <tr>
            <td>编号</td>
            <td>留言人</td>
            <td>邮箱</td>
            <td>手机号</td>
            <td>留言内容</td>
        </tr>
        <volist name="arr" id="val">
        <tr>
            <td>{$val.id}</td>
            <td>{$val.name}</td>
            <td>{$val.e-mail}</td>
            <td>{$val.phone}</td>
            <td>{$val.message}</td>
        </tr>
            </volist>
    </table>
</form>
{$show}
</center>