<ul class="nav nav-list">
						<li class="active">
							<a href="?r=admin/index">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 定位菜单(学院) </span>
							</a>
						</li>
                         <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> 职位页面 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
                                <li>
									<a href="?r=job/position">
										<i class="icon-double-angle-right"></i>
										职位诱惑
									</a>
								</li>

							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-list"></i>
								<span class="menu-text"> 公司页面 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="?r=compan/content">
										<i class="icon-double-angle-right"></i>
										公司简介
									</a>
								</li>

								<li>
									<a href="?r=compan/count">
										<i class="icon-double-angle-right"></i>
										招聘信息统计
									</a>
								</li>
                               <li>
                                    <a href="?r=compan/example">
                                        <i class="icon-double-angle-right"></i>
                                        简历列表
                                    </a>
                                </li>
							</ul>
						</li>
    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-list"></i>
            <span class="menu-text"> 个人页面 </span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="?r=more/uppwd">
                    <i class="icon-double-angle-right"></i>
                    修改密码
                </a>
            </li>

            <li>
                <a href="?r=more/upload">
                    <i class="icon-double-angle-right"></i>
                    上传头像
                </a>
            </li>
            <li>
                <a href="?r=more/me">
                    <i class="icon-double-angle-right"></i>
                    个人资料
                </a>
            </li>
        </ul>
    </li>
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-file-alt"></i>

								<span class="menu-text">
									其他页面
									<!-- <span class="badge badge-primary ">5</span> -->
								</span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="?r=other/help">
										<i class="icon-double-angle-right"></i>
										帮助
									</a>
								</li>
                            </ul>
						</li>
					</ul><!-- /.nav-list -->