<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="<?php echo base_url("Public/Admin").'/' ?>" />
<title>SHOP 管理中心 - 属性管理 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>
<body>
<script>
    $(function(){
        $(document).on("change","select[name='goods_type']",function(){   //按商品类型显示
            var val = $(this).val();
            $.get("<?php echo site_url('Goodstype/search_goodsattr') ?>",{val:val},function(data){
                var str="<tr><th><input type='checkbox' id='box'>编号</th><th>属性名称</th><th>商品类型</th><th>属性值的录入方式</th><th>可选值列表</th><th>排序</a></th><th>操作</th></tr>";
                  for(var i=0;i<data['res'].length;i++)
                  {
                      str = str+"<tr><td nowrap='true' valign='top'><span><input name='checkboxes[]' type='checkbox'>"+data['res'][i].aid+"</span></td><td class='first-cell' nowrap='true' valign='top'><span>"+data['res'][i].n_name+"</span></td><td nowrap='true'valign='top'><span>"+data['n_name']+"</span></td><td nowrap='true' valign='top'><span>手工录入</span></td><td valign='top'><span></span></td><td align='right' nowrap='true' valign='top'><span>"+data['res'][i].n_order+"</span></td><td align='center' nowrap='true' valign='top'><a href='?act=edit&amp;attr_id=1' title='编辑'><img src='images/icon_edit.gif' border='0' height='16' width='16'></a><a href='javascript:;' title='移除'><img src='images/icon_drop.gif' border='0' height='16' width='16'></a></td></tr>";
                  }
                  $("#bodys").html(str);
            },'json');
        });
        $(document).on("click","#box",function(){  //全选
            var checkboxes = $("input[name='checkboxes[]']");
            for(var i=0;i<checkboxes.length;i++)
            {
                if($("#box").attr('checked'))
                {
                    checkboxes.eq(i).attr('checked',true);
                }
                else
                {
                    checkboxes.eq(i).attr('checked',false);
                }
            }
        });
    });
</script>
<h1>
<span class="action-span"><a href="attribute.php?act=add">添加属性</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 商品属性 </span>
<div style="clear:both"></div>
</h1>
<div class="form-div">
  <form action="" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH">
    按商品类型显示：<select name="goods_type" >
      <option value="">请选择---</option>
      <?php foreach($all as $key=>$val){ ?>
      <option value="<?php echo $val['nid'] ?>"><?php echo $val['n_name'] ?></option>
      <?php } ?>
    </select>
  </form>
</div>
<form method="post" action="attribute.php?act=batch" name="listForm">
<div class="list-div" id="listDiv">
  <table cellpadding="3" cellspacing="1">
    <tbody id='bodys'>
		<tr>
			<th><input type="checkbox" id="box">编号</th>
			<th>属性名称</th>
			<th>商品类型</th>
			<th>属性值的录入方式</th>
			<th>可选值列表</th>
			<th>排序</a></th>
			<th>操作</th>
		</tr>
      <?php foreach($list as $key=>$val){ ?>
        <tr>
			<td nowrap="true" valign="top"><span><input  name="checkboxes[]" type="checkbox"><?php echo $val['aid'] ?></span></td>
			<td class="first-cell" nowrap="true" valign="top"><span><?php echo $val['n_name'] ?></span></td>
			<td nowrap="true" valign="top"><span><?php echo $n_name ?></span></td>
			<td nowrap="true" valign="top"><span>手工录入</span></td>
			<td valign="top"><span></span></td>
			<td align="right" nowrap="true" valign="top"><span><?php echo $val['n_order'] ?></span></td>
			<td align="center" nowrap="true" valign="top">
				<a href="?act=edit&amp;attr_id=1" title="编辑"><img src="images/icon_edit.gif" border="0" height="16" width="16"></a>
				<a href="javascript:;" title="移除"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
			</td>
		</tr>
    <?php } ?>
      </tbody></table>

  <table cellpadding="4" cellspacing="0">
    <tbody><tr>
      <td style="background-color: rgb(255, 255, 255);"><input type="submit" id="btnSubmit" value="删除" class="button" disabled="true"></td>
      <td align="right" style="background-color: rgb(255, 255, 255);">      <!-- $Id: page.htm 14216 2008-03-10 02:27:21Z testyang $ -->
            <div id="turn-page">
        总计  <span id="totalRecords">12</span>
        个记录分为 <span id="totalPages">2</span>
        页当前第 <span id="pageCurrent">1</span>
        页，每页 <input type="text" size="3" id="pageSize" value="10" onkeypress="return listTable.changePageSize(event)">
        <span id="page-link">
          <a href="javascript:listTable.gotoPageFirst()">第一页</a>
          <a href="javascript:listTable.gotoPagePrev()">上一页</a>
          <a href="javascript:listTable.gotoPageNext()">下一页</a>
          <a href="javascript:listTable.gotoPageLast()">最末页</a>
          <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
            <option value="1">1</option><option value="2">2</option>          </select>
        </span>
      </div>
</td>
    </tr>
  </tbody></table>
</div>

</form>

<div id="footer">
	版权所有 &copy; 2006-2013 传智播客 - PHP培训 - </div>
</div>

</body>
</html>