<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<base href="<?php echo base_url('Public/Admin')."/" ?>" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link href="styles/general.css" rel="stylesheet" type="text/css" />
	<link href="styles/main.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/utils.js"></script>
	<script type="text/javascript" src="js/selectzone.js"></script>
	<script type="text/javascript" src="js/colorselector.js"></script>
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>





<script>
$(function(){
		$("input[name='g_name']").blur(function(){  		//获取商品名称节点验证唯一性
			var g_name = $(this).val();
			$.ajax({
				type:'post',
				url:'<?php echo site_url("Goods/goodssole") ?>',
				data:{
					g_name:g_name
				},
				success:function(data)
				{
					if(g_name=="")
					{
						alert("商品名称不能为空");
					}
					else
					{
						if(data=='0')
						{
							alert("商品名称重复不能使用！");    //验证商品唯一性
						}
					}
				}
			});
		});
		$("input[name='g_num']").blur(function(){    	//订单货号的自动生成且验证唯一性
					var g_num = $(this).val();
					$.ajax({
						type:'post',
						url:'<?php echo site_url("Goods/g_number") ?>',
						data:{
							g_num:g_num
						},
						success:function(data)
						{
							if(g_num=="")
							{
								$("input[name='g_num']").val(data);
							}
							else
							{
								if(data==0)
								{
									alert('订单号不能重复');
								}
							}
						}
				});
		});
		$("#g_sort").click(function(){  					//商品分类
			$(this).next().remove();
			var con = "<span><input style='width:80px;' name='s_name' type='text' /><a class='special' id='center' title='确定'  href='javascript:void(0)'> 确定 </a><a class='special' id='goodssort' title='分类管理'  href='javascript:void(0)'>分类管理</a><a class='special' title='隐藏' href='javascript:void(0)' id='tuihui'><<</a></span>"
			var g_sort = $(this);
			g_sort.after(con);
		});
		$(document).on("click","#goodssort",function(){    //点击分类管理跳转页面
			var path = "<?php echo  site_url('Goods/addgoodscat')?>";
			if(confirm("本页数据将丢失，确认要去商品分类页添加分类吗？"))
			{
				location.href=path;
			}
		});
		$(document).on("click","#tuihui",function(){  					//点击 << 按钮消失 （分类）
			var g_sort = $("#g_sort");
			g_sort.nextAll().remove();
		});
		$(document).on('click',"#center",function(){   	//点击确定按钮开始添加分类  （分类）
			var s_name = $("input[name='s_name']").val();     //获取前边文本框的值
			var g_sid = $("select[name='g_sid']").val(); 	//获取下拉框的值
			if(s_name=="")
			{
				alert("分类名称不能为空");
			}
			else
			{
				if(g_sid=="")  			//添加顶级分类
				{
					$.ajax({
						type:'post',
						url:'<?php echo site_url("Goods/addgoodssort") ?>',
						data:{
							s_name:s_name
						},
						dataType:'json',
						success:function(data)
						{
							if(data==0)
							{
								alert("顶级分类不能重复");
							}
							else
							{
								$("#g_sort").nextAll().remove();
								var str="";
								for(var i=0;i<data.length;i++)
								{
									if(data[i].s_name==s_name)
									{
										str = str+"<option value='"+data[i].s_id+"' selected='selected' >"+data[i].html+data[i].s_name+"</option>";
									}
									else{
										str = str+"<option value='"+data[i].s_id+"' >"+data[i].html+data[i].s_name+"</option>";
									}	
								}
								$("select[name='g_sid']").html("<option value=''>请选择</option>"+str);
							}
						}
					});
				}
				else//添加子分类
				{
					$.ajax({
						type:'post',
						url:'<?php echo site_url("Goods/addsortson") ?>',
						data:{
							g_sid:g_sid,
							s_name:s_name
						},
						dataType:'json',
						success:function(data)
						{	
							if(data==0)
							{
								alert("子类名称不能重复");
							}
							else
							{
								var str="";
								$("#g_sort").nextAll().remove();
								for(var i=0;i<data.length;i++)
								{
									if(data[i].s_name==s_name)
									{
										str = str+"<option value='"+data[i].s_id+"' selected='selected' >"+data[i].html+data[i].s_name+"</option>";
									}
									else
									{
										str = str+"<option value='"+data[i].s_id+"' >"+data[i].html+data[i].s_name+"</option>";
									}
								}
								$("select[name='g_sid']").html("<option value=''>请选择</option>"+str);
							}
						}
					});
				}
			}
		});
		$("#qint").click(function(){  	//向上取整数
			var g_marketprice = $("input[name='g_marketprice']").val();
			var num = Math.ceil(g_marketprice)+".00";
			$("input[name='g_marketprice']").val(num);
		});
		$("#g_pinpai").click(function(){  	//添加品牌
			$(this).next().remove();
			var con = "<span><input style='width:80px;' name='p_name' type='text' /><a class='special' id='queren' title='确定'  href='javascript:void(0)'> 确定 </a><a class='special' title='品牌管理' id='goodspin' href='javascript:void(0)'>品牌管理</a><a class='special' title='隐藏' href='javascript:void(0)' id='fanhui'><<</a></span>"
			var g_pinpai = $(this);
			g_pinpai.after(con);
		});
		$(document).on("click","#goodspin",function(){    //点击品牌管理跳转页面
			var path = "<?php echo  site_url('Goods/addgoodspin')?>";
			if(confirm("本页数据将丢失，确认要去商品品牌页面添加品牌吗？"))
			{
				location.href=path;
			}
		});
		$(document).on("click","#fanhui",function(){  	//点击 << 按钮消失  （品牌）
			var g_pinpai = $("#g_pinpai");
			g_pinpai.nextAll().remove();
		});
		
		$(document).on('click',"#queren",function(){  	//点击确定开始判断是否为空  (品牌)
			var p_name = $("input[name='p_name']").val(); 	//获取前边文本框的值
			var g_pid = $("select[name='g_pid']").val(); 	//获取下拉框的值
			if(p_name=="")
			{
				alert("品牌不能为空");
			}
			else
			{
				$.ajax({
						type:'post',
						url:'<?php echo  site_url("Goods/addpinpai") ?>/',
						data:{
							p_name:p_name
						},
						dataType:'json',
						success:function(msg)
						{
							if(msg==0)		//测试品牌民称的唯一性
							{
								alert("品牌名不能重复");
							}
							else
							{
								var str="";
								$("#g_pinpai").nextAll().remove();
								for(var i=0;i<msg.length;i++)
								{
									if(msg[i].p_name==p_name)
									{
										str = str+"<option value='"+msg[i].p_id+"' selected='selected' >"+msg[i].p_name+"</option>";
									}
									else
									{
										str = str+"<option value='"+msg[i].p_id+"' >"+msg[i].p_name+"</option>";
									}
								}
								$("select[name='g_pid']").html("<option value=''>请选择</option>"+str);
							}
						}
					});
			}
		});
});
</script>


</head>
<body>
<h1>
	<span class="action-span"><a href="<?php echo site_url('Goods/goodslist') ?>">商品列表</a></span>
	<span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心 </a> </span><span id="search_id" class="action-span1"> - 编辑商品信息 </span>
	<div style="clear:both"></div>
</h1>
<div class="tab-div">
    <div id="tabbar-div">
      <p>
        <span class="tab-front" id="general-tab">通用信息</span>
        <span class="tab-back" id="detail-tab">详细描述</span>
        <span class="tab-back" id="properties-tab">商品属性</span>
      </p>
    </div>
    <!-- tab body -->
    <div id="tabbody-div">
      <form enctype="multipart/form-data" action="<?php echo site_url('Goods/add') ?>" method="post" name="theForm">




		<!-- 通用信息 -->
        <table width="90%" id="general-table" align="center" style="display: table;">
			<tbody>
				<tr>
					<td class="label">商品名称：</td>
					<td><input type="text" name="g_name" size="30"><span class="require-field">*</span></td>
				</tr>
				<tr>
					<td class="label">商品货号： </td>
					<td><input type="text" name="g_num" size="20"><span id="goods_sn_notice"></span><br>
					<span class="notice-span" style="display:block" id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span></td>
			</tr>
			<tr>
				<td class="label">商品分类：</td>
				<td>
					<select name="g_sid">
						<option value="">请选择...</option>
						<?php foreach($lists as $key=>$val){ ?>
						<option value="<?php echo $val['s_id'] ?>"><?php echo $val['html'].$val['s_name'] ?></option>
						<?php } ?>
					</select>
					<a class="special" title="添加分类" id="g_sort" href="javascript:void(0)">添加分类</a>
                </td>
			</tr>
			<tr>
				<td class="label">商品品牌：</td>
				<td>
					<select name="g_pid">
						<option value="">请选择...</option>
						<?php foreach($list as $key=>$val){ ?>
							<option value="<?php echo $val['p_id'] ?>"><?php echo $val['p_name'] ?></option>
						<?php } ?>
					</select>
					<a class="special" id="g_pinpai" href="javascript:void(0)">添加品牌</a>
				</td>
			</tr>
            <tr>
				<td class="label">本店售价：</td>
				<td><input type="text" name="g_selfprice"  size="20" >
				<span class="require-field">*</span></td>
			</tr>
          <tr>
            <td class="label">市场售价：</td>
            <td><input type="text" name="g_marketprice"  size="20">
              <input type="button" id="qint" value="取整数">
            </td>
          </tr>
          <tr>
            <td class="label">上传商品图片：</td>
            <td>
              <input type="file" name="g_photo" size="35"><br>
            </td>
          </tr>
           <tr>
            <td class="label">商品库存数量：</td>
            <td><input type="text" name="g_kucun"  size="20"><br>
            <span class="notice-span" style="display:block" id="noticeStorage">库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量</span></td>
          </tr>
          <tr>
            <td class="label">库存警告数量：</td>
            <td><input type="text" name="g_kucunnum"  size="20"></td>
          </tr>
          <tr>
            <td class="label">加入推荐：</td>
            <td>
            	<input type="checkbox" name="g_jing" value="1">精品
            	<input type="checkbox" name="g_new" value="1">新品
            	<input type="checkbox" name="g_hotcake" value="1">热销
            </td>
          </tr>
          <tr id="alone_sale_1">
            <td class="label" id="alone_sale_2">上架：</td>
            <td id="alone_sale_3"><input type="checkbox" name="g_up" value="1"> 打勾表示允许销售，否则不允许销售。</td>
          </tr>
          <tr>
            <td class="label">商品关键词：</td>
            <td><input type="text" name="g_guanjian"  size="40"> 用空格分隔</td>
          </tr>
          <tr>
            <td class="label">商品简单描述：</td>
            <td><textarea name="g_content" cols="40" rows="3"></textarea></td>
          </tr>
        </tbody></table>





         <!-- 鍟嗗搧鐩稿唽 -->
         <div class="button-div">
          <input type="submit" value=" 确定 " class="button">
          <input type="reset" value=" 重置 " class="button">
        </div>
        </form>
        </div>
        </div>


</body>
</html>
