
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/index.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/index.css">
    <center>
        <form action="__URL__/add/" method="post" enctype="multipart/form-data">
            <table border="1">
                <tr>
                    <td>账号</td>
                    <td><input type="text" name="number"/></td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="user"/></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" name="pwd1"/></td>
                </tr>
                <tr>
                    <td>确认密码</td>
                    <td><input type="password" name="pwd2"/></td>
                </tr>
                <tr>
                    <td>头像</td>
                    <td><input type="file" name="face"/></td>
                </tr>
                <tr>
                    <td>回答数</td>
                    <td><input type="text" name="answer"/></td>
                </tr>
                <tr>
                <td>采纳数</td>
                <td><input type="text" name="adopt"/></td>
               </tr>
                <tr>
                    <td>提问数</td>
                    <td><input type="text" name="ask"/></td>
                </tr>
                <tr>
                    <td>金币</td>
                    <td><input type="text" name="point"/></td>
                </tr>
                <tr>
                    <td>经验值</td>
                    <td><input type="text" name="exp"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="保存添加"/></td>
                </tr>
            </table>
        </form>
    </center>