<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="<?php echo base_url('Public/Home').'/' ?>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/shopping-mall-index.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/zhonglin.js"></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script  type="text/javascript" src="js/jquery.qrcode.min.js"></script>
</head>
<script>
    $(function(){
        $("#change").click(function(){    //切换验证码
            $(this).parent().next().attr('src',"<?php echo site_url('Index/verify') ?>"+'/'+Math.random());  
        });
        $("#verify").click(function(){
            $(this).attr('src','<?php echo site_url("Index/verify") ?>'+'/'+Math.random());
        });
        $("input[name='username']").blur(function(){
            var username = $(this).val();
             $(this).next().remove();
            if(username=='')
            {
                $(this).after("<span class='span' style='color:red'>用不名不能为空</span>");
            }
        });
        $("input[name='pwd']").blur(function(){
            var pwd = $(this).val();
             $(this).next().remove();
            if(pwd=='')
            {
                $(this).after("<span class='span' style='color:red'>密码不能为空</span>");
            }
        });
         $("input[name='code']").blur(function(){
            var code = $(this).val();
            $(this).next().children('a').next().remove();  //上来时首先移除节点
            if(code=='')
            {
                $(this).next().children('a').after("<span class='span' style='color:red'>       验证码不能为空</span>");
            }
        });
        $("#center").click(function(){  //登录
           $("input[name='username']").trigger('blur');
           $("input[name='pwd']").trigger('blur');
           $("input[name='code']").trigger('blur');
           if($(".span").length==0)
           {
                $.post("<?php echo site_url('Index/checklogin') ?>",{username:$("input[name='username']").val(),pwd:$("input[name='pwd']").val(),code:$("input[name='code']").val()},function(msg){
                    if(msg==0)
                    {
                        alert('验证码不正确！');
                    }
                    else if(msg==1)
                    {
                         $(".tips").css({
                         'position':'absolute',
                         'top':($(window).height()-$('.tips').height())/2+'px',
                         'left':($(window).width()-$('.tips').width())/2+'px',
                          //延迟时间一秒半，为向上卷效果
                          }).show().delay(1500).slideUp();
                    }
                    else
                    {
                        alert('登录成功');
                        var path='<?php echo site_url("Index/indexs") ?>';  //跳转页面
                        location.href=path;
                    }
                });
           }
        });
        $("#myselef").click(function(){         //跳转我的个人中心前要进行判断是否登录
            var session = $('.session').html();
            if(session=="")
            {
                alert('请您先登录！');
                location.href='<?php echo site_url("Index/login") ?>';
            }
            else
            {
                location.href='<?php echo site_url("Index/selfcenter") ?>';
            }
        });
        $("#mycar").click(function(){    //跳转我的购物车前要进行判断是否登录
            var session = $(".session").html();
            if(session=="")
            {
                alert('请您先登录！');
                location.href='<?php echo site_url("Index/login") ?>';
            }
            else
            {
                location.href="<?php echo site_url('Shopping/mycar') ?>";
            }
        });
        $("#myindent").click(function(){   //跳转我的订单列表前要进行判断是否登录
            var session = $(".session").html();
            if(session=="")
            {
                alert('请您先登录！');
                location.href='<?php echo site_url("Index/login") ?>';
            }
            else
            {
                location.href="<?php echo site_url('Shopping/indentlist')?>";
            }
        })
        $("#code").qrcode({ 
            render: "table", //table方式 
            width: 100, //宽度 
            height:100, //高度 
            text: "http://www.mi.com/" //任意内容 
        }); 
    });
</script>
<body>
    <!--top 开始-->
    <div class="top">
        <div class="top-con w1200">
        <?php if($this->session->username){ ?>
            <p class="t-con-l f-l">您好，欢迎<span style='color:red' class='session' ><?php echo $this->session->username ?></span>来到宅客微购 </p>
        <?php }else{ ?>
                <p class="t-con-l f-l">您好，<span class='session'></span>欢迎来到宅客微购  <a href="<?php echo site_url('Index/register') ?>">注册</a></p>
        <?php } ?>
            <ul class="t-con-r f-r">
            <li><a href="<?php echo site_url('Index/indexs') ?>">首页</a></li>
                <li><a id="myselef" href="javascript:;">我 (个人中心)</a></li>
                <li><a id="mycar" href="javascript:;">我的购物车</a></li>
                <li><a id="myindent" href="javascript:;">我的订单</a></li>
                <li class="erweima">
                    <a href="javascript:;">扫描二维码</a>
                    <div class="ewm-tu">
                        <div id="code"></div>
                    </div>
                </li>
                <div style="clear:both;"></div>
            </ul>
            <div style="clear:both;"></div>
        </div>
    </div>
	<div class="sign-logo w1200">
	<h1><a href="#" title="宅客微购"><img src="images/logo.jpg" /></a></h1>
</div>
	<div class="sign-con w1200">
	<img src="images/logn-tu.gif" class="sign-contu f-l" />
    <div style="width:400px;height:400px;" class="sign-ipt f-l">
    <span>
    	<p>用户名</p>
        <input type="text" placeholder="用户名" name="username" />
        </span>
        <span>
        <p>密码</p>
        <input type="password" placeholder="密码" name='pwd' /></span>
        <span>
            <p>验证码</p>
            <input type="text" style="width:100px;" name='code' placeholder='验证码' align='left' />               <span style="padding-left:30px;">看不清？<a align='right' href="javascript:;" id="change">换张图</a></span>
            <img  src="<?php echo site_url("Index/verify") ?>"  id="verify" /> 
        </span> <br />
        <button class="slig-btn" id='center'>登录</button>
        <p>还没有账号？请<a href="<?php echo site_url('Index/register') ?>">注册</a><a href="#" class="wj">忘记密码？</a></p>
        <div class="sign-qx">
        	<a href="#" class="f-r"><img src="images/sign-xinlan.gif" /></a>
        	<a href="#" class="qq f-r"><img src="images/sign-qq.gif" /></a>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
    <!--底部服务-->
    <div class="ft-service">
    	<div class="w1200">
        	<div class="sv-con-l2 f-l">
            	<dl>
                	<dt><a href="#">新手上路</a></dt>
                    <dd>
                    	<a href="#">购物流程</a>
                    	<a href="#">在线支付</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">配送方式</a></dt>
                    <dd>
                    	<a href="#">货到付款区域</a>
                    	<a href="#">配送费标准</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">购物指南</a></dt>
                    <dd>
                    	<a href="#">常见问题</a>
                    	<a href="#">订购流程</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">售后服务</a></dt>
                    <dd>
                    	<a href="#">售后服务保障</a>
                    	<a href="#">退款说明</a>
                    	<a href="#">新手选购商品总则</a>
                    </dd>
                </dl>
                <dl>
                	<dt><a href="#">关于我们</a></dt>
                    <dd>
                    	<a href="#">投诉与建议</a>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
        	<div class="sv-con-r2 f-r">
            	<p class="sv-r-tle">131-2672-6827</p>
            	<p>周一至周五9:00-17:30</p>
            	<p>（仅收市话费）</p>
            	<a href="#" class="zxkf">24小时在线客服</a>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    
    <!--底部 版权-->
    <div class="footer w1200">
    	<p>
        	<a href="#">关于我们</a><span>|</span>
        	<a href="#">友情链接</a><span>|</span>
        	<a href="#">宅客微购社区</a><span>|</span>
        	<a href="#">诚征英才</a><span>|</span>
        	<a href="#">商家登录</a><span>|</span>
        	<a href="#">供应商登录</a><span>|</span>
        	<a href="#">热门搜索</a><span>|</span>
        	<a href="#">宅客微购新品</a><span>|</span>
        	<a href="#">开放平台</a>
        </p>
        <p>
        	沪ICP备13044278号<span>|</span>合字B1.B2-20130004<span>|</span>营业执照<span>|</span>互联网药品信息服务资格证<span>|</span>互联网药品交易服务资格证
        </p>
    </div>
    <div class="tips"style="width:300px;height:150px;border:dashed gray 3px;background:pink;display:none; font-color:red;"><p style="padding-top:60px;padding-left:84px;color:tomato;font-size:15px;">用户名或密码不正确</p></div>
</body>
</html>
