<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link href="__PUBLIC__/Home/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="__PUBLIC__/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	 <!--header-section-starts-->
	<div class="full">
        <include file="public/menu"/>
			<!--<div class="menu">
				<ul>
					<li><a href="index.html"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
					<li><a href="videos.html"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
					<li><a href="reviews.html"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
					<li><a href="hehe.html"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
					<li><a class="active" href="contact.html"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
				</ul>
			</div>-->
		<div class="main">
		<div class="contact-content">
			<div class="top-header span_top">
				<div class="logo">
					<a href="index.html"><img src="__PUBLIC__/Home/images/logo.png" alt="" /></a>
					<p>Movie Theater</p>
				</div>
				<div class="search v-search">
					<form>
						<input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						<input type="submit" value="">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
			<!---contact-->
<div class="main-contact">
		 <h3 class="head" style="color: #d58512">内涵</h3>
		 <p><font color="aqua">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高端大气上档次,低调奢华有内涵</font></p>
		 <div class="contact-form">
			 <form action="__URL__/m_add" method="post">
				 <div class="col-md-6 contact-left">
					  <input type="text" name="Name" placeholder="Name" required/>
					  <input type="text" name="E-mail" placeholder="E-mail" required/>
					  <input type="text" name="Phone" placeholder="Phone" required/>
				  </div>
				  <div class="col-md-6 contact-right">
					 <textarea name="Message" placeholder="Message"></textarea>
					 <input type="submit" value="SEND"/>
				 </div>
				 <div class="clearfix"></div>
			 </form>
	     </div>
		 <div class="contact_info">
			 <h5>Find Us Here</h5>
             <div id="map">
                 <center>
                     <h1 style="color: red">联系我们列表页面</h1>
                     <table border="1" cellpadding="10" cellspacing="0">
                         <tr>
                             <td style="color: yellow">联系方式</td>
                             <td style="color: red">15227395537</td>
                         </tr>
                         <tr>
                             <td style="color: yellow">邮箱</td>
                             <td style="color: red">1312950784@qq.com</td>
                         </tr>
                         <tr>
                             <td style="color: yellow">办公电话</td>
                             <td style="color: red">010-8589209</td>
                         </tr>
                         <tr>
                             <td style="color: yellow">我们的宗旨</td>
                             <td style="color: red">精益求精,永不止步!</td>
                         </tr>
                         <tr>
                             <td style="color: yellow">地址</td>
                             <td style="color: red">北京市海淀区西二旗软件园南站八位研修学院电影制作处</td>
                         </tr>
                         <tr>
                             <td style="color: yellow">温馨提示</td>
                             <td style="color: red">感谢您的来访,祝您旅途愉快!</td>
                         </tr>
                     </table>
                 </center>
             </div>
         </div>
</div>
	<div class="footer">
		<h6>Disclaimer : </h6>
		<p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
		<a href="example@mail.com">example@mail.com</a>
		<div class="copyright">
			<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="手机网站模板">手机网站模板</a> </p>
		</div>
	</div>	
	</div>
	<div class="clearfix"></div>
	</div>
</body>
</html>