<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后盾问答</title>
    <meta name="keywords" content="问答 后盾问答 - 你问大家答">
    <meta name="description" content="">
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/common.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/top-bar.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/Css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Home/js/index.js"></script>
</head>