<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
<br><br><br><br><br><br><br>
<center>
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>广告持续时长</td>
                <td><input type="text" name="time" /></td>
            </tr>
            <tr>
                <td>广告</td>
                <td><input type="file"  name="content"/></td>
            </tr>
            <tr>
                <td>广告开始发布时间</td>
                <td><input type="text" class="sang_Calender" /></td>
                <td><div style="text-align:center;margin:150px 0; font:normal 14px/24px 'MicroSoft YaHei';"></td>
            </tr>
            <tr>
                <td><input type="submit" value="确定" /></td>
                <td></td>
            </tr>
        </table>
    </form>
</center>
<script type="text/javascript" src="datetime.js"></script>
</body>
</html>
